<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>clace academy</title>
    <link rel="stylesheet" href="css/welcome.css" data-inline="data-inline">
</head>
<body>
    <div id='container'>

        <div class='head'> Hi <%= username%>! </div>

        <div class='main'>
            <img src='https://media.istockphoto.com/vectors/textile-industry-vector-id1253121853?k=20&m=1253121853&s=170667a&w=0&h=qrOmICfit3JP7N8DYWjvQ1a-YkdtyOn5A4fXEOTOUh0=' alt='tailor PNG'>
            <span>
                    <p style="color: rgb(0, 162, 255); font-size: 15px;">Profile Info:</p>
                    <p>Username: <%= username%></p>
                    <p>Email: <%= email%></p>
                    <p>Password: <%= password%></p>
                    <p style="color: rgb(12, 12, 12); font-size: 11px;">***Please Update your Password immediatly you complete your registration***</p>
            </span>
            <p>
                We look forward to seeing you in class as you complete registeration and generate your reciept by clicking on the button below
            </p>
            <a  href='https://flutterwave.com/pay/clace-academy' target="_blank">complete your registration</a>
        </div>

        <div class='foot'>
            <p> &copy; clace tailoring academy 2021.</p>
        </div>

    </div>

</body>
</html>